<div class="title">Simon Game</div>
<div class="div-center">
  <div class="simon-grid">
    <button
      (click)="simonClick($event.currentTarget)"
      class="simon-btn green"
    ></button>
    <button
      (click)="simonClick($event.currentTarget)"
      class="simon-btn red"
    ></button>
    <button
      (click)="simonClick($event.currentTarget)"
      class="simon-btn yellow"
    ></button>
    <button
      (click)="simonClick($event.currentTarget)"
      class="simon-btn blue"
    ></button>
  </div>
  <button (click)="startGame()">Start game</button>
</div>
<router-outlet></router-outlet>
